* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-color: white;
  --box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
  --letter-spacing-sm: 0.015rem;
  --letter-spacing-md: 0.02rem;
  --line-height-sm: 1.2;
  --line-height-md: 1.5;
  --line-height-lg: 2;
  --sm-weight: 300;
  --md-weight: 400;
  --lg-weight: 500;
  --xl-weight: 600;
  --maps-btn-bg: #1f2933;
  --maps-btn-cl: #ffffff;
  --body-h2-fs: clamp(1.2rem, 1.3vw, 1.5rem);
  --divider: 1px dotted rgba(146, 146, 146, 0.5);
  --link-color: #2068b0;
  --active-link-color: #2068b0;
  --font-grey-color: #555555;
  --font-grey-color2: #4a4a4a;
}

body {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.01rem;
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.language-switch {
  margin-left: 20px;
}

.visually-hidden {
  display: none;
}

/*==== NAVIGATION BAR ====*/
.nav-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.nav-bar li {
  margin-right: 20px;
  padding: 20px;
}

.nav-bar a {
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  color: #2c3e50;
}

.nav-bar a:visited {
  color: #2c3e50;
}

.nav-bar li a:hover {
  background-color: rgb(42, 122, 212);
  color: white;
  border-radius: 20px;
}

.nav-bar a.active {
  font-weight: 500;
  color: #000;
}

#logo {
  max-width: 85px;
  height: auto;
  object-fit: cover;
  border-radius: 100px;
  margin: 0 20px;
}

@media (max-width: 980px) {
  /*==== NAV BAR LOGO MOBILE ====*/
  .nav-bar {
    display: flex;
    flex-direction: column;
  }

  .nav-bar-links {
    overflow: scroll;
    overflow-y: hidden;
    width: 100%;
    align-items: center;
    justify-items: center;
  }

  #logo {
    max-width: 80px;
    margin: 20px;
    margin: 0;
    margin-bottom: 10px;
  }
}

/* ==== APARTMENT INFORMATION SECTION ==== */
.apartment-information {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  position: relative;
}

.info-toggle {
  background-image: linear-gradient(
    to top,
    #d7ebf072,
    rgba(255, 255, 255, 0.393)
  );
  padding: 1em;
  border-radius: 20px;
  border: none;
}

.info-toggle:hover {
  scale: 1.02;
}

.info-toggle p {
  font-size: clamp(0.8rem, 1.3vw, 1rem);
  color: var(--font-grey-color);
  max-width: 300px;
  text-align: center;
  line-height: var(--line-height-md);
}

.info-toggle h2 {
  font-size: var(--body-h2-fs);
  color: var(--font-grey-color2);
  margin-bottom: 5px;
}

.info-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  background-color: #dad09f;
  position: absolute;
  z-index: 999;
  align-items: center;
  justify-content: center;
  line-height: 4rem;
  opacity: 0;
  pointer-events: none;
}

.info-panel.active {
  opacity: 1;
  pointer-events: auto;
}

.wifi-box label {
  color: var(--font-grey-color2);
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: var(--xl-weight);
}

.wifi-box select {
  color: var(--link-color);
  font-size: clamp(1rem, 3vw, 1.3rem);
  font-weight: var(--lg-weight);
}

.info-link {
  text-decoration: none;
  color: var(--font-grey-color2);
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: var(--xl-weight);
}

/*.apartment-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(
    to top,
    #d7ebf072,
    rgba(255, 255, 255, 0.393)
  );
  width: 100%;
  box-shadow: var(--box-shadow);
  max-width: 1200px;
  margin: 40px auto;
  border-radius: 20px;
}

.apartment-information h2 {
  font-size: var(--body-h2-fs);
  color: var(--font-grey-color2);
  margin-bottom: 5px;
}

.apartment-information p {
  font-size: clamp(1rem, 1.3vw, 1.3rem);
  color: var(--font-grey-color);
  max-width: 300px;
  text-align: center;
  line-height: var(--line-height-md);
}
*/
/* ==== MAP_LOCATION SECTION ==== */
.map-section {
  display: flex;
  flex-direction: column;
}

.location-desc {
  width: 100%;
  align-items: flex-start;
  justify-items: flex-start;
}

.location-desc h2 {
  font-size: clamp(1rem, 3vw, 1.3rem);
  font-weight: var(--lg-weight);
  letter-spacing: var(--letter-spacing-md);
  color: var(--font-grey-color2);
  margin-bottom: 10px;
  margin-top: 0;
}

.location-desc p {
  font-size: clamp(0.9rem, 5vw, 1rem);
  font-weight: var(--md-weight);
  letter-spacing: var(--letter-spacing-md);
  text-align: center;
  color: var(--font-grey-color);
}

/* ==== DAILY ESSENTIALS ==== */

.nearby-essential-list {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.essential {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.essential a {
  background-color: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  box-shadow: var(--box-shadow);
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.nearby-icons {
  width: 25px;
  filter: brightness(0) saturate(0) opacity(0.6);
}

.essential a::before {
  content: attr(data-icons);
  background: rgba(30, 30, 30, 0.85);
  backdrop-filter: blur(6px);
  color: white;
  width: auto;
  text-decoration: none;
  padding: 0.5em 1em;
  text-align: center;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 5px;
  position: absolute;
  font-size: 0.75rem;
  letter-spacing: 0.015em;
  box-shadow: var(--box-shadow);
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  white-space: nowrap;
  border-radius: 10px;
}

.essential a:hover {
  transform: scale(1.05);
  background-color: #fffefe31;
}

.essential a:hover::before {
  opacity: 1;
  overflow: visible;
}

.essential a:hover::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.565);
  transform: rotate(-90deg);
  left: 95%;
  transition: opacity 0.2s ease-in-out;
  display: none;
}

/*==== RECOMMEDATIONS ====*/
.recommedations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "restaurants beaches explore"
    "culture activities explore-istro";
  gap: 1em;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 80px;
  position: relative;
  z-index: 1;
  margin: 40px auto;
}

display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas:
  "restaurants beaches explore"
  "culture activities explore-istro";
gap: 1em;
justify-content: center;
width: 100%;
max-width: 1200px;
margin-top: 80px;
position: relative;
z-index: 1;
margin: 40px auto;

.recommedations-container {
  position: relative;
  aspect-ratio: 16 / 9;
}

.recommedations-container img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
  aspect-ratio: 16 / 9;
  box-shadow: var(--box-shadow);
}

.recommedations-container ul {
  list-style-type: none;
}

.recommedations-container a {
  position: relative;
  display: block;
}

.recommedations-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color: #1d1d1d8a;
  margin: 0;
  font-size: clamp(1rem, 1.3vw, 1.3rem);
}

/*==== RECOMMEDATIONS HOVER ====*/
.recommedations-container:hover {
  transform: scale(1.05);
  cursor: pointer;
  padding: 0;
}

/*==== CARDS ====*/
.container-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 50px;
  margin-top: 80px;
  padding: 0 40px 0 40px;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  align-self: start;
  padding: 15px;
  box-shadow: 0px 0px 1px rgba(0, 0, 1, 0.5);
  border-radius: 20px;
}

.card-image {
  position: relative;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
}

.card-info {
  margin-top: 5px;
  font-weight: var(--sm-weight);
  letter-spacing: var(--letter-spacing-md);
  font-size: 0.9rem;
  line-height: 1.3;
}

.card-h2 {
  font-size: 1rem;
  font-weight: var(--md-weight);
  letter-spacing: var(--letter-spacing-md);
  margin-top: 10px;
}

.card-divider {
  border-bottom: var(--divider);
  margin: 25px 0 25px 0;
}

.badge {
  position: absolute;
  color: black;
  padding: 5px 15px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.904);
  font-size: 0.8rem;
  font-weight: var(--md-weight);
  letter-spacing: var(--letter-spacing-md);
  top: 5px;
  left: 5px;
}

.badge2 {
  position: absolute;
  color: black;
  padding: 5px 15px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.904);
  font-size: 0.8rem;
  font-weight: var(--md-weight);
  top: 10px;
  right: 10px;
}
/*==== CARDS FOOTER ====*/
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activities-card-footer {
  display: flex;
  justify-content: space-between;
}

.map-link,
.wiki-link {
  padding: 0.5em 1em;
  text-decoration: none;
  color: #414141;
  font-weight: var(--md-weight);
  font-size: 0.9rem;
  border-radius: 20px;
}

.map-link:hover {
  background-color: #2a2a2a;
  color: #f9fafb;
}

.wiki-link:hover {
  background-color: #2a2a2a;
  color: #f9fafb;
}

.card-meta {
  font-size: 0.8rem;
  color: rgb(92, 92, 92);
}

h3 {
  font-size: 0.8rem;
  font-weight: var(--md-weight);
  letter-spacing: var(--letter-spacing-md);
  margin-bottom: 5px;
}

/*==== EXPLORE ISTRO ====*/
.local-experiences {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
}

.local-experiences {
  display: flex;
  flex-direction: row;
}

.local-experiences img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 30px;
}

.local-experience-list li {
  margin-bottom: 40px;
  list-style-type: none;
  line-height: var(--line-height-sm);
  background-color: #fcfcfc;
  padding: 1em 1.5em;
  border-radius: 20px;
}

.local-experience-list h2 {
  font-size: clamp(1.1rem, 4vw, 1.3rem);
  font-weight: var(--md-weight);
  letter-spacing: var(--letter-spacing-sm);
  margin-bottom: 5px;
}

.local-experience-list p {
  letter-spacing: var(--letter-spacing-sm);
  font-weight: var(--md-weight);
  font-size: clamp(1rem, 3vw, 1.1rem);
  color: #424242;
}

/* ========== check-in--out-instructions ========== */
.check-in-out-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
}

.check-in-section-text,
.check-out-section-text {
  padding: 10px 20px;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
}

.check-out-section-text {
  margin-top: 40px;
}

.check-in-section-text h2,
.check-out-section-text h2 {
  font-size: clamp(1.1rem, 4vw, 1.4rem);
  margin-bottom: 10px;
  font-weight: var(--lg-weight);
  letter-spacing: var(--letter-spacing-sm);
}

.check-in-section-text h3 {
  font-size: clamp(1rem, 3vw, 1.3rem);
  font-weight: var(--md-weight);
  margin-bottom: 10px;
}

.check-in-section-text p,
.check-out-section-text li,
.check-out-section-text p {
  font-weight: var(--md-weight);
  font-size: clamp(1rem, 3vw, 1.1rem);
  color: #424242;
}

.p-margin {
  display: inline-block;
  margin-top: 10px;
}

.check-out-p {
  margin-bottom: 10px;
}

.check-out-section-text li {
  margin-bottom: 10px;
  list-style-type: none;
}

.check-out-info ul {
  padding: 10px 20px;
  list-style-type: none;
}

.check-in-section-text a,
.check-out-section-text a {
  color: var(--link-color);
  font-weight: 500;
}

.check-in-section-text a:active,
.check-out-section-text a :active {
  color: var(--active-link-color);
}

.bins-info {
  margin-top: 10px;
}

/*==== HOYSE RULES ====*/
.house-rules {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}

.house-rules-heading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: clamp(2.5rem, 5vw, 5rem);
  margin: 0 auto;
  color: #4a4a4a49;
  margin-top: 40px;
}

.house-rules li {
  line-height: var(--line-height-md);
  margin-top: 15px;
  letter-spacing: var(--letter-spacing-md);
  list-style-type: none;
}

.house-rules p {
  margin-top: 15px;
  letter-spacing: var(--letter-spacing-md);
}

/*==== FOOTER ====*/
footer {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 100%;
  box-shadow: var(--box-shadow);
  padding-top: 40px;
}

.footer-first-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  width: 100%;
}

.footer-second-row {
  justify-items: center;
  align-items: center;
  margin-top: 40px;
}

/*==== wifi ====*/
.wifi-name {
  font-size: clamp(0.7rem, 1.3vw, 0.9rem);
}

.guest-information ul {
  list-style-type: none;
}

.guest-information li a {
  text-decoration: none;
  line-height: var(--line-height-md);
  font-size: clamp(0.7rem, 1.3vw, 0.9rem);
  color: #374151;
}

select {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #e1e3e7;
  background-color: #f3f4f6;
  color: black;
  font-size: clamp(0.7rem, 1.3vw, 0.9rem);
}

.wifi-return {
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: pre-line;
  line-height: var(--line-height-md);
}

.emergency-contacts,
.transports,
.contacts,
.social {
  height: 100px;
}

.guest-information h2,
.emergency-contacts h2,
.transports h2,
.contacts h2,
.social h2 {
  font-size: clamp(1rem, 1.3vw, 1.1rem);
  margin-bottom: 10px;
  font-weight: var(--md-weight);
  color: rgba(0, 0, 0, 0.862);
}

.emergency-contacts li,
.transports li,
.contacts li {
  line-height: 1.5;
  font-size: clamp(0.8rem, 1.3vw, 0.9rem);
  color: #374151;
}

.emergency-contacts li a,
.transports li a,
.contacts li a {
  text-decoration: none;
  color: var(--link-color);
}

.emergency-contacts ul,
.transports ul,
.contacts ul {
  list-style-type: none;
}

.emergency-contacts a:visited,
.transports a:visited,
.contacts a:visited {
  color: var(--active-link-color);
}

.whatsapp-icon-top {
  color: #25d366;
  font-size: 18px !important;
}

.emergency-contacts i,
.transports i,
.contacts i {
  margin-right: 10px;
  font-size: 15px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social svg {
  width: 30px;
  height: px;
}

.signature {
  display: flex;
}

.signature p {
  font-size: 0.7rem;
  margin-top: 30px;
  transform: translateX(-5%);
  color: #374151;
  font-weight: var(--sm-weight);
}

.digiko {
  width: 80px;
  height: 80px;
}

/*==== RESPONSIVE ====*/
@media (max-width: 768px) {
  body {
    background-color: white;
  }
  /*==== NAV BAR LOGO MOBILE ====*/
  .nav-bar {
    display: flex;
    flex-direction: column;
  }

  .nav-bar-links {
    overflow: scroll;
    overflow-y: hidden;
    width: 100%;
  }

  #logo {
    max-width: 80px;
    margin: 20px;
    margin: 0;
    margin-bottom: 10px;
  }

  /*==== Welcome Message MOBILE ====*/
  .intro {
    line-height: var(--line-height-md);
    margin-top: 40px;
    margin: 40px 20px 0 20px;
  }

  .intro h2 {
    color: var(--font-grey-color);
    letter-spacing: var(--letter-spacing-md);
  }

  .intro p {
    color: var(--font-grey-color);
    letter-spacing: var(--letter-spacing-md);
  }

  /*==== MAP MOBILE ====*/
  .map-section {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 50px auto;
    border-radius: 40px;
    width: 85%;
  }

  iframe {
    width: 100%;
    height: 150px;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  .location-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .location-desc h2 {
    font-size: clamp(1rem, 3vw, 1.3rem);
    font-weight: var(--lg-weight);
    letter-spacing: var(--letter-spacing-md);
    color: var(--font-grey-color2);
    margin-bottom: 5px;
    margin-top: 0;
  }

  .location-desc p {
    font-size: clamp(0.9rem, 5vw, 1rem);
    font-weight: var(--md-weight);
    letter-spacing: var(--letter-spacing-md);
    color: var(--font-grey-color);
  }

  /*==== NEARBY ESSENTIALS MOBILE ====*/
  .nearby-essentials {
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .nearby-essential-list {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;
    bottom: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.258);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: var(--box-shadow);
    height: auto;
    width: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 20px;
  }

  .essential {
    padding: 0.5em 1em;
  }

  .nearby-icons {
    width: 25px;
    height: 25px;
  }

  .essential a:hover::before {
    opacity: 0;
    overflow: visible;
  }

  /*==== INDEX RECOMMEDATION MOBILE ====*/
  .recommedations-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "restaurants beaches"
      "explore culture"
      "activities explore-istro";
    gap: 1em;
    justify-content: center;
    padding: 30px;
  }

  .recommedations-container img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    aspect-ratio: 4 / 3;
  }

  .recommedations-container p {
    position: absolute;
    top: 87%;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.273),
      rgba(255, 255, 255, 0.393)
    );
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  /*==== FOOTER MOBILE ====*/
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-first-row {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .guest-information,
  .emergency-contacts,
  .transports,
  .contacts {
    margin: 0 auto;
    align-content: center;
    text-align: center;
  }

  .footer-second-row {
    margin-top: 0;
  }

  .signature p {
    text-align: center;
    align-items: center;
  }
}
