* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-color: white;
  --box-shadow-min: 0 1px 5px rgba(0, 0, 0, 0.12);
  --box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
  --letter-spacing-sm: 0.015rem;
  --letter-spacing-md: 0.02rem;
  --line-height-sm: 1.2;
  --line-height-md: 1.5;
  --line-height-lg: 2;
  --sm-weight: 300;
  --md-weight: 400;
  --lg-weight: 500;
  --xl-weight: 600;
  --maps-btn-bg: #1f2933;
  --maps-btn-cl: #ffffff;
  --body-h2-fs: clamp(1.2rem, 1.3vw, 1.5rem);
  --divider: 1px dotted rgba(146, 146, 146, 0.5);
  --link-color: #2068b0;
  --active-link-color: #2068b0;
  --font-grey-color: #555555;
  --font-grey-color2: #4a4a4a;
}

body {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.01rem;
  background-color: #fafafa;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
  touch-action: none;
}

/*.language-switch {
  margin-left: 20px;
}*/

.visually-hidden {
  display: none;
}

/*==== NAVIGATION BAR ====*/
.nav-bar {
  display: flex;

  width: 100%;
  align-items: center;
  padding: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  white-space: nowrap;
}

.nav-bar li {
  padding: 0.5em 1em;
}

.nav-bar-links {
  display: flex;
  margin: 0 auto;
}

.nav-bar a {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 20px;
  color: #2c3e50;
}

.nav-bar a:visited {
  color: #2c3e50;
}

.nav-bar li a:hover {
  background-color: rgb(42, 122, 212);
  color: white;
  border-radius: 20px;
}

.nav-bar a.active {
  font-weight: 500;
  color: #000;
}

.logo svg {
  width: 120px;
  height: 120px;
}

/* ==== DAILY ESSENTIALS ==== */
.nearby-essential-list {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  gap: 20px;
  margin-left: 30px;
}

.nearby-list-link {
  background-color: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  box-shadow: var(--box-shadow);
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.nearby-icons {
  width: 25px;
  color: #000;
  stroke-width: 1.6;
  flex-shrink: 0;
}

.nearby-list-link::before {
  content: attr(data-icons);
  background: rgba(30, 30, 30, 0.85);
  backdrop-filter: blur(6px);
  color: white;
  width: auto;
  text-decoration: none;
  padding: 0.5em 1em;
  text-align: center;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 5px;
  position: absolute;
  font-size: 0.75rem;
  letter-spacing: 0.015em;
  box-shadow: var(--box-shadow);
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  white-space: nowrap;
  border-radius: 10px;
}

.nearby-list-link:hover {
  transform: scale(1.05);
  background-color: #fffefe31;
}

.nearby-list-link:hover::before {
  opacity: 1;
  overflow: visible;
}

.nearby-list-link:hover::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.565);
  transform: rotate(-90deg);
  left: 95%;
  transition: opacity 0.2s ease-in-out;
  display: none;
}

.mobile-nearby-essentials {
  display: none;
  width: 25px;
  height: 25px;
}

/* ==== ARRIVAL INFO SECTION ==== */
.arrival-info {
  width: 100%;
  margin: 60px auto;
}

.arrival-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "apt-info-title map-section"
    "check-in map-section"
    "check-out map-section"
    "house-rules map-section"
    "wifi-box map-section";
  line-height: var(--line-height-md);
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: var(--box-shadow-min);
  padding: 20px 15px;
  border-radius: 20px;
  column-gap: clamp(20px, 5vw, 80px);
}

.check-in {
  grid-area: check-in;
}

.check-out {
  grid-area: check-out;
}

.house-rules {
  grid-area: house-rules;
}

.wifi-box {
  grid-area: wifi-box;
}

.direction-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  stroke: white;
  stroke-width: 1.5;
  fill: none;
}

.apt-info-title,
.location-title {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  margin-bottom: 10px;
  color: #1f2933;
  text-decoration: none;
  font-weight: var(--md-weight);
}

.info-link,
.wifi-box {
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow-min);
  padding: 0.5em 1em;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.153);
  text-decoration: none;
  font-size: clamp(1rem, 3vw, 1rem);
  color: black;
  gap: 20px;
  margin-bottom: 20px;
}

.wifi-box {
  background-color: inherit;
}

.apt-text-heading {
  font-size: clamp(1rem, 1.5vw, 1.1rem);
  font-weight: var(--md-weight);
  text-align: start;
}

.apt-info-sub {
  font-size: clamp(0.9rem, 1vw, 0.9rem);
  color: var(--font-grey-color2);
  text-align: start;
}

.icon-circle {
  width: 40px;
  height: 40px;
  background: #ced7e27b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.apt-info-icon {
  width: 20px;
  height: 20px;
  color: #1b4167;
}

.apt-info-text-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.arrow-icon {
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
}

/* ==== MAP SECTION ==== */
.map-section {
  display: flex;
  flex-direction: column;
  grid-area: map-section;
}

.map-link-wrapper {
  text-decoration: none;
  display: block;
  align-items: center;
  justify-content: center;
}

.map-container img {
  width: 100%;
  display: block;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
}

.mobile-location-text {
  display: none;
}

.location-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}

.address {
  font-size: clamp(0.9rem, 3vw, 1rem);
  color: #3c4044;
}

.location-button {
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 15px;
  background-image: linear-gradient(
    to top,
    rgb(55, 131, 159),
    rgba(0, 0, 0, 0.252)
  );
  color: white;
  text-align: center;
  margin-top: auto;
  font-size: clamp(01rem, 3vw, 1rem);
}

/*==== RECOMMENDATIONS ====*/
.recommendations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  gap: 1em;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  /* margin-top: 120px;*/
  padding: 20px;
}

.recommendation-heading {
  font-size: clamp(1.2rem, 3vw, 2rem);
  margin-bottom: 10px;
  color: var(--font-grey-color2);
  text-decoration: none;
  font-weight: var(--lg-weight);
  margin-top: 100px;
  display: none;
}

.recommendations-container {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 20px;
  aspect-ratio: 16 / 9;
  transition: transform 0.15s ease;
}

.recommendations-container:hover {
  transform: scale(1.01);
  cursor: pointer;
  padding: 0;
}

.recommendations-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: var(--box-shadow);
}

.recommendations-container {
  position: relative;
}

.recommendation-content {
  display: flex;
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(61, 61, 61, 0.944),
    rgba(255, 255, 255, 0.103)
  );
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  align-items: center;
  justify-content: center;
  border: transparent;
}

.recommendations-container h2 {
  color: white;
  font-weight: var(--xl-weight);
  padding: 10px;
  text-align: center;

  /*background-image: linear-gradient(
    to top,
    rgba(58, 58, 58, 0.944),
    rgba(255, 255, 255, 0.372)
  );*/
  font-size: clamp(1rem, 1.3vw, 1.3rem);
}

.recommendation-icons {
  display: inline-flex;
  width: 18px;
  height: 18px;
  color: rgba(255, 255, 255, 0.855);
  margin-right: 5px;
}

.recommendation-arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: white;
}

/*==== CARDS ====*/
.container-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 50px;
  margin-top: 80px;
  padding: 0 40px 0 40px;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  align-self: start;
  padding: 15px;
  box-shadow: 0px 0px 1px rgba(0, 0, 1, 0.5);
  border-radius: 20px;
}

.card-image {
  position: relative;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
}

.card-info {
  margin-top: 5px;
  font-weight: var(--sm-weight);
  letter-spacing: var(--letter-spacing-md);
  font-size: 0.9rem;
  line-height: 1.3;
}

.card-h2 {
  font-size: 1rem;
  font-weight: var(--md-weight);
  letter-spacing: var(--letter-spacing-md);
  margin-top: 10px;
}

.card-divider {
  border-bottom: var(--divider);
  margin: 25px 0 25px 0;
}

.badge {
  position: absolute;
  color: black;
  padding: 5px 15px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.904);
  font-size: 0.8rem;
  font-weight: var(--md-weight);
  letter-spacing: var(--letter-spacing-md);
  top: 5px;
  left: 5px;
}

.badge2 {
  position: absolute;
  color: black;
  padding: 5px 15px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.904);
  font-size: 0.8rem;
  font-weight: var(--md-weight);
  top: 10px;
  right: 10px;
}
/*==== CARDS FOOTER ====*/
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activities-card-footer {
  display: flex;
  justify-content: space-between;
}

.map-link,
.wiki-link {
  padding: 0.5em 1em;
  text-decoration: none;
  color: #414141;
  font-weight: var(--md-weight);
  font-size: 0.9rem;
  border-radius: 20px;
}

.map-link:hover {
  background-color: #2a2a2a;
  color: #f9fafb;
}

.wiki-link:hover {
  background-color: #2a2a2a;
  color: #f9fafb;
}

.card-meta {
  font-size: 0.8rem;
  color: rgb(92, 92, 92);
}

h3 {
  font-size: 0.8rem;
  font-weight: var(--md-weight);
  letter-spacing: var(--letter-spacing-md);
  margin-bottom: 5px;
}

/*==== EXPLORE ISTRO ====*/
.local-experiences {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
}

.local-experiences {
  display: flex;
  flex-direction: row;
}

.local-experiences img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 30px;
}

.local-experience-list li {
  margin-bottom: 40px;
  list-style-type: none;
  line-height: var(--line-height-sm);
  background-color: #fcfcfc;
  padding: 1em 1.5em;
  border-radius: 20px;
}

.local-experience-list h2 {
  font-size: clamp(1.1rem, 4vw, 1.3rem);
  font-weight: var(--md-weight);
  letter-spacing: var(--letter-spacing-sm);
  margin-bottom: 5px;
}

.local-experience-list p {
  letter-spacing: var(--letter-spacing-sm);
  font-weight: var(--md-weight);
  font-size: clamp(1rem, 3vw, 1.1rem);
  color: #424242;
}

/* ========== check-in--out-instructions ========== */
.check-in-out-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
}

.check-in-section-text,
.check-out-section-text {
  padding: 10px 20px;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
}

.check-out-section-text {
  margin-top: 40px;
}

.check-in-section-text h2,
.check-out-section-text h2 {
  font-size: clamp(1.1rem, 4vw, 1.4rem);
  margin-bottom: 10px;
  font-weight: var(--lg-weight);
  letter-spacing: var(--letter-spacing-sm);
}

.check-in-section-text h3 {
  font-size: clamp(1rem, 3vw, 1.3rem);
  font-weight: var(--md-weight);
  margin-bottom: 10px;
}

.check-in-section-text p,
.check-out-section-text li,
.check-out-section-text p {
  font-weight: var(--md-weight);
  font-size: clamp(1rem, 3vw, 1.1rem);
  color: #424242;
}

.p-margin {
  display: inline-block;
  margin-top: 10px;
}

.check-out-p {
  margin-bottom: 10px;
}

.check-out-section-text li {
  margin-bottom: 10px;
  list-style-type: none;
}

.check-out-info ul {
  padding: 10px 20px;
  list-style-type: none;
}

.check-in-section-text a,
.check-out-section-text a {
  color: var(--link-color);
  font-weight: 500;
}

.check-in-section-text a:active,
.check-out-section-text a :active {
  color: var(--active-link-color);
}

.bins-info {
  margin-top: 10px;
}

/*==== HOYSE RULES ====*/
.house-rules {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}

.house-rules-heading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: clamp(2.5rem, 5vw, 5rem);
  margin: 0 auto;
  color: #4a4a4a49;
  margin-top: 40px;
}

.house-rules li {
  line-height: var(--line-height-md);
  margin-top: 15px;
  letter-spacing: var(--letter-spacing-md);
  list-style-type: none;
}

.house-rules p {
  margin-top: 15px;
  letter-spacing: var(--letter-spacing-md);
}
=== FOOTER ====*/ footer {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 100%;
  box-shadow: var(--box-shadow);
  padding-top: 40px;
}

.footer-first-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  width: 100%;
}

.footer-second-row {
  justify-items: center;
  align-items: center;
  margin-top: 40px;
  margin: 0 auto;
}

.footer-icons {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  stroke-width: 2;
  fill: none;
  margin-right: 10px;
  color: #3f4d5f;
}

.guest-information ul {
  list-style-type: none;
}

.guest-information li a {
  text-decoration: none;
  line-height: var(--line-height-md);
  font-size: clamp(0.7rem, 1.3vw, 0.9rem);
  color: #374151;
}

.emergency-contacts,
.transports,
.contacts,
.social {
  height: 100px;
}

.guest-information h3,
.emergency-contacts h3,
.transports h3,
.contacts h3,
.social h3 {
  font-size: clamp(1rem, 1.3vw, 1.1rem);
  margin-bottom: 5px;
  font-weight: var(--md-weight);
  color: rgba(0, 0, 0, 0.862);
  display: flex;
  align-items: center;
}

.emergency-contacts li,
.transports li,
.contacts li {
  line-height: 1.5;
  font-size: clamp(0.8rem, 1.3vw, 0.9rem);
  color: #374151;
  display: flex;
  align-items: center;
}

.emergency-contacts li a,
.transports li a,
.contacts li a {
  text-decoration: none;
  color: var(--link-color);
}

.emergency-contacts ul,
.transports ul,
.contacts ul {
  list-style-type: none;
}

.emergency-contacts a:visited,
.transports a:visited,
.contacts a:visited {
  color: var(--active-link-color);
}

.whatsapp-icon-top {
  color: #25d366;
  font-size: 18px !important;
}

.emergency-contacts i,
.transports i,
.contacts i {
  margin-right: 10px;
  font-size: 15px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social svg {
  width: 30px;
  height: 30px;
}

.signature {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 20px;
}

.signature a {
  font-size: 0.8rem;
  color: #6b6b6b;
  text-decoration: none;
}

.signature svg {
  height: 1em;
  width: auto;
  vertical-align: -0.2em;
  margin-left: 5px;
}

/*==== MEDIA ====*/
@media (max-width: 980px) {
  /*==== NAV BAR LOGO MOBILE ====*/
  .nav-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-bar-links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #logo {
    max-width: 80px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  /* ==== DAILY ESSENTIALS MOBILE ==== */
  .mobile-nearby-essentials {
    display: flex;
    position: fixed;
    right: 5%;
    bottom: 10%;
    z-index: 3;
    background: rgba(255, 255, 255, 0.073);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 50%;
  }

  .mobile-nearby {
    width: 30px;
    height: 30px;
    height: auto;
    color: black;
  }

  .nearby-essential-list {
    opacity: 0;
  }
}

/*==== MEDIA 768 ====*/
@media (max-width: 768px) {
  /*==== NAV BAR MOBILE ====*/
  .nav-bar-links {
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  /* ==== ARRIVAL INFO SECTION ==== */
  .arrival-info {
    width: 100%;
  }

  .arrival-wrapper {
    flex-direction: column-reverse;
    box-shadow: none;
    padding: 0;
    margin: 0;
    gap: 50px;
  }

  /* ==== MAP INFO SECTION MOBILE ==== */
  .map-section {
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
  }

  .location-desc {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .desktop-title,
  .desktop-address {
  }

  .mobile-title {
    display: block;
    color: var(--font-grey-color2);
    font-weight: var(--lg-weight);
    font-size: 1rem;
  }

  .map iframe {
    width: 150px;
    height: 100px;
  }

  .map img {
    width: 150px;
    height: 100px;
  }

  /*==== APARTMENT INFORMATION MOBILE ====*/
  .arrival-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "map-section map-section"
      "apt-info-title apt-info-title"
      "check-in check-out"
      "house-rules wifi-box";
    gap: 10px;
    row-gap: 10px;
    column-gap: 10px;
    box-shadow: none;
    padding: 20px;
  }

  .apt-info-title {
    grid-area: apt-info-title;
    margin: 40px 0 0 0;
  }

  .info-link,
  .wifi-box {
    width: 100%;
    margin: 0;
    gap: 10px;
    align-items: center;
  }

  .map-section {
    grid-area: map-section;
    width: 100%;
    margin-bottom: 40px;
  }

  .check-in {
    grid-area: check-in;
    width: 100%;
  }

  .check-out {
    grid-area: check-out;
    width: 100%;
  }

  .house-rules {
    grid-area: house-rules;
    width: 100%;
  }

  .wifi-box {
    grid-area: wifi-box;
    width: 100%;
  }

  .apt-info-sub {
    display: none;
  }

  /* ==== APARTMENT INFO SECTION ==== 
  .apartment-information-desktop {
    display: none;
  }

  .apartment-information-mobile {
    position: relative;
    padding: 20px;
  }

  .apt-paragraph-mobile {
    display: inline-block;
    width: 100%;
  }

  .info-toggle {
    background-image: linear-gradient(
      to top,
      #d7ebf072,
      rgba(255, 255, 255, 0.393)
    );
    padding: 2em;
    border-radius: 20px;
    border: none;
    position: relative;
    box-shadow:
      0 2px 6px rgba(0, 0, 0, 0.08),
      0 10px 24px rgba(0, 0, 0, 0.12);
    transition:
      transform 0.18s ease,
      box-shadow 0.18s ease;
    -webkit-tap-highlight-color: transparent;
  }

  .info-toggle:hover {
    transform: scale(1.02);
  }

  .nearby-essentials-arrow {
    display: inline-block;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid rgba(0, 0, 0, 0.565);
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 92%;
  }

  .info-toggle p {
    font-size: clamp(0.8rem, 1.3vw, 0.9rem);
    color: var(--font-grey-color);
    max-width: 300px;
    text-align: center;
    line-height: var(--line-height-md);
  }

  .info-toggle h2 {
    font-size: 1rem;
    color: var(--font-grey-color2);
    margin-bottom: 5px;
  }

  .info-panel {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #dad09f;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    align-items: center;
    justify-content: center;
    line-height: 4rem;
    opacity: 0;
    pointer-events: none;
    padding-top: env(safe-area-inset-top);
  }

  .info-panel.active {
    opacity: 1;
    pointer-events: auto;
  }

  .wifi-box label {
    color: var(--font-grey-color2);
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: var(--xl-weight);
  }

  .wifi-box select {
    color: var(--link-color);
    font-size: clamp(1rem, 3vw, 1.3rem);
    font-weight: var(--lg-weight);
  }

  .info-link {
    text-decoration: none;
    color: var(--font-grey-color2);
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: var(--xl-weight);
  }*/
  /*==== APARTMENT MOBILE ====
  .arrival-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }

  .location-desc {
    display: flex;
    flex-direction: column;
  }

  .map-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: none;
  }

  .map {
    display: flex;
    gap: 20px;
  }

  .location-desc h2 {
    font-size: 1.3rem;
    font-weight: var(--lg-weight);
    letter-spacing: var(--letter-spacing-md);
    color: var(--font-grey-color2);
  }

  .location-desc p {
    font-size: 1rem;
    font-weight: var(--md-weight);
    letter-spacing: var(--letter-spacing-md);
    color: var(--font-grey-color);
  }

  .map-section iframe {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .map-button-mobile {
    text-decoration: none;
    color: var(--link-color);
    background-color: #bcbbbb52;
    padding: 0.5em 1em;
    border-radius: 20px;
  }*/
  /*==== MAP MOBILE ====
  .map-section {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 50px auto;
    border-radius: 40px;
    width: 85%;
  }

  iframe {
    width: 100%;
    height: 150px;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  .location-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .location-desc h2 {
    font-size: clamp(1rem, 3vw, 1.3rem);
    font-weight: var(--lg-weight);
    letter-spacing: var(--letter-spacing-md);
    color: var(--font-grey-color2);
    margin-bottom: 5px;
    margin-top: 0;
  }

  .location-desc p {
    font-size: clamp(0.9rem, 5vw, 1rem);
    font-weight: var(--md-weight);
    letter-spacing: var(--letter-spacing-md);
    color: var(--font-grey-color);
  }*/

  /*==== NEARBY ESSENTIALS MOBILE ====*/
  .nearby-essential-list {
    flex-direction: row;
    position: fixed;
    justify-content: center;
    bottom: 0;

    z-index: 2;
    background: rgba(255, 255, 255, 0.258);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: var(--box-shadow);
    height: auto;
    width: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 20px;
  }

  .essential {
    display: flex;
    width: 100%;
    padding: 0.5em 1em;
  }

  .nearby-icons {
    width: 25px;
    height: 25px;
  }

  .essential a:hover::before {
    opacity: 0;
    overflow: visible;
  }

  /*==== RECOMMENDATIONS MOBILE====*/
  .recommendations-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* margin-top: 80px;*/
    column-gap: 10px;
    align-items: center;
  }

  .recommendation-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 80px;
    margin-bottom: 0;
    text-align: center;
  }

  .recommendation-heading::before {
    content: "";
    flex: 1;
    border-top: 1px dotted #62616198;
    margin-left: 20px;
  }

  .recommendation-heading::after {
    content: "";
    flex: 1;
    border-top: 1px dotted #62616198;
    margin-right: 20px;
  }

  .recommendations-container {
    width: 100%;
    aspect-ratio: 4 / 3;
    height: 150px;
  }

  /*==== CARDS MOBILE ====*/
  .container-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  .card {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    align-self: start;
    padding: 15px;
    border-radius: 20px;
  }

  .card-info {
    margin-top: 5px;
    font-weight: var(--sm-weight);
    letter-spacing: var(--letter-spacing-md);
    font-size: 0.9rem;
    line-height: 1.3;
  }

  .card-h2 {
    font-size: 1rem;
    font-weight: var(--md-weight);
    letter-spacing: var(--letter-spacing-md);
    margin-top: 10px;
  }

  /*==== CARDS FOOTER MOBILE====*/
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .activities-card-footer {
    display: flex;
    justify-content: space-between;
  }

  .map-link,
  .wiki-link {
    padding: 0.5em 1em;
    text-decoration: none;
    color: #414141;
    font-weight: var(--md-weight);
    font-size: 0.9rem;
    border-radius: 20px;
  }

  .map-link:hover {
    background-color: #2a2a2a;
    color: #f9fafb;
  }

  .wiki-link:hover {
    background-color: #2a2a2a;
    color: #f9fafb;
  }

  .map-link:hover:active {
    background-color: transparent;
  }

  /*==== FOOTER MOBILE====*/
  .footer-first-row,
  .footer-second-row {
    flex-direction: column;
  }

  .footer-first-row {
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
  }

  .footer-second-row {
    margin: 0;
  }

  .signature {
    margin: 0;
  }
}

/*==== MEDIA 400 ====*/
@media (max-width: 400px) {
  .info-link,
  .wifi-box {
    flex-direction: column;
    align-items: center;
  }

  .recommendations-container {
    width: 100%;
    height: auto;
  }

  .card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: var(--line-height-md);
  }
}
